/tvu/obj
/tvu/bin
/packages
/.vs
/tvu/Properties/AssemblyInfo.cs
/TvUndergroundDownloaderLib/obj
/TvUndergroundDownloaderLib/bin
/TvUndergroundDownloaderConsole/obj
/TvUndergroundDownloaderConsole/bin
/EmbendedWebServer/bin
/EmbendedWebServer/obj
