@Master['master.html']

@Section['Content']

<form method="post" action="/setup">
    <input type="hidden" name="action" value="update_setup" />
    <table id="location" border='1'>
        <tr>
            <th>Name </th>
        </tr>
        <tr>
            <td>Service type
            </td>
            <td>@If.ServiceTypeAmule
                <select name="ServiceType">
                    <option value="aMule" selected="selected">aMule</option>
                    <option value="eMule">eMule</option>
                </select>
                @EndIf        
@If.ServiceTypeEmule
                    <select name="ServiceType">
                        <option value="aMule">aMule</option>
                        <option value="eMule" selected="selected">eMule</option>
                    </select>
                @EndIf
                        
                        
                        
                

            </td>
        </tr>
        <tr>
            <td>Service Url</td>
            <td>
                <input type="text" name="ServiceUrl" value="@Model.ServiceUrl" />
            </td>
        </tr>
        <tr>
            <td>Service Password</td>
            <td>
                <input type="text" name="Password" value="@Model.Password" />
            </td>
        </tr>
        <tr>
            <td>Cookie H</td>
            <td>
                <input type="text" name="TVUCookieH" value="@Model.TVUCookieH" />
            </td>
        </tr>
        <tr>
            <td>Cookie I</td>
            <td>
                <input type="text" name="TVUCookieI" value="@Model.TVUCookieI" />
            </td>
        </tr>
        <tr>
            <td>Cookie T</td>
            <td>
                <input type="text" name="TVUCookieT" value="@Model.TVUCookieT" />
            </td>
        </tr>
        <tr>
            <td>Close Emule If All Is Done</td>
            <td>@If.CloseEmuleIfAllIsDone
                    <select name="CloseEmuleIfAllIsDone">
                        <option value="true" selected="selected">True</option>
                        <option value="false">False</option>
                    </select>
                @EndIf        

@IfNot.CloseEmuleIfAllIsDone
                <select name="CloseEmuleIfAllIsDone">
                    <option value="true">True</option>
                    <option value="false" selected="selected">False</option>
                </select>
                @EndIf
                
            </td>
        </tr>
        <tr>
            <td>Max Simultaneous Feed Downloads Default</td>
            <td>
                <input type="text" name="MaxSimultaneousFeedDownloadsDefault" value="@Model.MaxSimultaneousFeedDownloadsDefault" />
            </td>
        </tr>
        <tr>
            <td>Pause Download Default</td>
            <td>@If.PauseDownloadDefault
                <select name="PauseDownloadDefault">
                    <option value="true" selected="selected">True</option>
                    <option value="false">False</option>
                </select>
                @EndIf        
@IfNot.PauseDownloadDefault
                    <select name="PauseDownloadDefault">
                        <option value="true">True</option>
                        <option value="false" selected="selected">False</option>
                    </select>
                @EndIf
                


            </td>
        </tr>

        <tr>
            <td>Minimun download to Start Emule</td>
            <td>
                <input type="text" name="MinToStartEmule" value="@Model.MinToStartEmule" />
            </td>
        </tr>
        <tr>
            <td>eMule Exe</td>
            <td>
                <input type="text" name="eMuleExe" value="@Model.eMuleExe" />
            </td>
        </tr>
        <tr>
            <td>Email Notification</td>
            <td>@If.EmailNotification
                <select name="EmailNotification">
                    <option value="true" selected="selected">True</option>
                    <option value="false">False</option>
                </select>
                @EndIf        
@IfNot.EmailNotification
                <select name="EmailNotification">
                    <option value="true">True</option>
                    <option value="false" selected="selected">False</option>
                </select>
                @EndIf
                
            </td>
        </tr>
        <tr>
            <td>Server SMTP</td>
            <td>
                <input type="text" name="ServerSMTP" value="@Model.ServerSMTP" />
            </td>
        </tr>
        <tr>
            <td>Mail Sender</td>
            <td>
                <input type="text" name="MailSender" value="@Model.MailSender" />
            </td>
        </tr>

        <tr>
            <td>Mail Receiver</td>
            <td>
                <input type="text" name="MailReceiver" value="@Model.MailReceiver" />
            </td>
        </tr>

        <tr>
            <td></td>
            <td>
                <input type="submit" value="Save" />
            </td>
        </tr>
    </table>
</form>
@EndSection